---
import { Image } from 'astro:assets';
import challengeIcon01 from '../../public/challenge-icon-01.svg';
import challengeIcon02 from '../../public/challenge-icon-02.svg';
import challengeIcon03 from '../../public/challenge-icon-03.svg';
import challengeIcon04 from '../../public/challenge-icon-04.svg';
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const locale = getLangFromUrl(Astro.url);
const t = useTranslations(locale);

const icons = [challengeIcon01, challengeIcon02, challengeIcon03, challengeIcon04];
---

<section id="challenges" class="px-4 md:px-20 py-20 md:py-32 space-y-8 md:space-y-16 max-w-7xl mx-auto">
  <h2 class="text-3xl md:text-5xl xl:text-7xl font-bold">{t.challenges.title}</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    {t.challenges.items.map((item, i) => (
      <div class="flex gap-4 md:gap-8 items-center">
        <div class="bg-gradient-to-b from-black to-red-900 rounded-2xl p-4 md:p-6 flex items-center justify-center shrink-0">
          <Image src={icons[i]} alt="" class="size-8 md:size-10" width={40} height={40} loading="lazy" />
        </div>
        <p class="text-gray-500 text-xl font-semibold">{item}</p>
      </div>
    ))}
  </div>
</section>
