---
---

<section id="impacts" class="px-4 md:px-20 py-20 md:py-32 space-y-8 md:space-y-16 max-w-7xl mx-auto">
  <span class="text-gray-400 text-2xl font-semibold">Measurable Enterprise AI</span>
  <h2 class="text-3xl md:text-5xl xl:text-7xl font-bold">Business Impact.</h2>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    <div class="border-2 border-gray-100 p-4 md:p-6 rounded-2xl">
      <span class="text-blue-600 text-6xl font-bold">40%</span>
      <p class="text-lg md:text-2xl font-semibold mt-6">lower operational costs through task automation.</p>
    </div>
    <div class="border-2 border-gray-100 p-4 md:p-6 rounded-2xl">
      <span class="text-blue-600 text-6xl font-bold">70%</span>
      <p class="text-lg md:text-2xl font-semibold mt-6">faster regulatory and compliance response times.</p>
    </div>
    <div class="border-2 border-gray-100 p-4 md:p-6 rounded-2xl">
      <span class="text-blue-600 text-6xl font-bold">100%</span>
      <p class="text-lg md:text-2xl font-semibold mt-6">European data sovereignty with zero public cloud exposure.</p>
    </div>
  </div>
</section>
